{% extends 'base.html' %}

{% block content %}

    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <img src="{{ target_user.profile.image.url }}" alt="" style="height: 10rem; width: 10rem; border-radius: 20rem; margin-bottom: 2rem;">

        {% if target_user.profile %}
            {# 프로필이 존재 할 경우 #}
            <h2 style="font-family: 'NanumSqureB'">
                {{ target_user.profile.nickname }}
                <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    edit
                </a>
            </h2>
        {% else %}
            <a href="{% url 'profileapp:create' %}">
                <h2>Crete Profile</h2>
            </a>
            {# 프로필 존재하지 않을 시 프로필 생성 템플릿을 보여줌#}
        {% endif %}

        <h5 style="margin-bottom: 3rem">
            {{ target_user.profile.message }}
        </h5>

        {% if target_user == user %}
            <a href="{% url 'accountapp:update' pk=target_user.pk %}">
                <p>
                    Change Info
                </p>
            </a>

            <a href="{% url 'accountapp:delete' pk=target_user.pk %}">
                <p>
                    Quit
                </p>
            </a>
        {% endif %}
    </div>
{% endblock %}
