{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center; border-radius: 1rem; margin: 2rem;">
        <h1 class="pramatic_logo">
            Testing
        </h1>

        <form action="/account/helloworld/", method="post">
            {% csrf_token %}
            <div>
                <input type="text", name="helloworld_input">
            </div>
            <input type="submit", class="btn btn-primary", value="POST">
        </form>

        {% if helloWorld_list %}
            {% for helloworld in helloWorld_list %}
            {#전부 가져온 모델 객체를 하나하나 뜯어옴.#}
                <h4>
                    {{ helloworld.text }}
                </h4>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
