<div class="pramatic_header">

    <h1 class="pramatic_logo" >Pragmatic</h1>

    <div class="pramatic_header_navigation">
{#        <form method="post" action="{% url 'articleapp:list' %}">#}
{#            {% csrf_token %}#}
{#            <button type="submit" class="btn btn-primary">#}
{#                Article#}
{#            </button>#}
{#        </form>#}
        <a href = "{% url 'articleapp:list' %}">
            <span>Ariticles</span>
        </a>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
{#            로그인 안 되어 있을 때 #}
        <form method="post" action="{% url 'accountapp:login' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                Login
            </button>
        </form>
        <form method="post" action="{% url 'accountapp:create' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                Sign Up
            </button>
        </form>
        {% else %}
{#              로그인 되어 있을 때#}
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>Mypage</span>
        </a>

        <form method="post" action="{% url 'accountapp:logout'  %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                <span>Logout</span>
            </button>
        </form>
        {% endif %}
    </div>
</div>